@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-base pt-14 lg:pl-60;
}

#app {
    @apply w-screen transition-all lg:w-auto;
}

.video {
    position: relative;
    padding-top: 56.25%;
}

.console {
    height: 600px;
}

.link {
    @apply text-blue-600;
}

.main-section {
    @apply p-6;
}

.dropdown {
    @apply cursor-pointer;
}

.clipped,
.clipped body {
    @apply overflow-hidden;
}

.m-clipped,
.m-clipped body {
    @apply overflow-hidden lg:overflow-visible;
}

.form-screen body {
    @apply p-0;
}

.form-screen .main-section {
    @apply flex h-screen items-center justify-center;
}

@import "navbar.scss";
@import "aside.scss";
@import "path.scss";
@import "button.scss";
@import "card.scss";
@import "notification.scss";
@import "progress.scss";
@import "icon.scss";
@import "table.scss";
@import "forms.scss";
@import "modal.scss";
