<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
<title>Northwind Traders D1 Demo</title>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="https://imagedelivery.net/4wj01aQOZZ0hemsvbxWAvA/51d8577b-60b4-4619-fb47-11740b6f1700/public">
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:site_name" content="The Cloudflare Blog" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Announcing D1: Our first SQL database" />
<meta property="og:description" content="Today, we’re excited to announce D1, Cloudflare’s first SQL database, designed for Cloudflare Workers" />
<meta property="og:url" content="https://blog.cloudflare.com/introducing-d1/" />
<meta property="og:image" content="http://blog.cloudflare.com/content/images/2022/05/image1-22.png" />
<meta property="article:tag" content="Platform Week" />
<meta property="article:tag" content="Product News" />
<meta property="article:tag" content="Developers" />

<meta property="article:publisher" content="https://www.facebook.com/cloudflare" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Announcing D1: Our first SQL database" />
<meta name="twitter:description" content="Today, we’re excited to announce D1, Cloudflare’s first SQL database, designed for Cloudflare Workers" />
<meta name="twitter:url" content="https://blog.cloudflare.com/introducing-d1/" />
<meta name="twitter:image" content="http://blog.cloudflare.com/content/images/2022/05/image1-22.png" />
<meta name="twitter:label1" content="Written by" />
<meta name="twitter:data1" content="Rita Kozlov" />
<meta name="twitter:label2" content="Filed under" />
<meta name="twitter:data2" content="Platform Week, Product News, Developers" />
<meta name="twitter:site" content="@cloudflare" />
<meta name="twitter:creator" content="@ritakozlov_" />
<meta property="og:image:width" content="1801" />
<meta property="og:image:height" content="1013" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/app.css">
<script defer src="/app.js"></script>
</head>
<body>
<div id="app"/>
</body>
</html>
